@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,900');

/*----------------------- Normalizacion -----------------------*/

html, body, section, .page {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/*----------------------- ScrollBar -----------------------*/

::-webkit-scrollbar {
  width: 7px;
}
 
::-webkit-scrollbar-track {
  background: #ddd;
}
 
::-webkit-scrollbar-thumb {
  background: #374046; 
}

/*----------------------- Ancho -----------------------*/

.aauto {width:auto;}
.a100 {width: 100%;}
.a55 {width: 55%}
.a6 {width:6%}
.a5 {width:5%}

/*----------------------- Largo -----------------------*/

.lauto {height: auto;}
.l200 {height: 200%;}
.l100 {height: 100%;}
.l40 {height: 40%;}
.l30 {height: 20%;}
.l10 {height: 10%;}
.l5 {height: 5%;}

/*----------------------- Colores -----------------------*/

.blanco {background-color: white;}

/*----------------------- Imagenes -----------------------*/

.sect1{background: url(../img/Imagen1.png) center center / cover no-repeat;}
.logo{background: url(../img/logo_01.svg) no-repeat center;}

/*----------------------- Posiciones -----------------------*/

.fl {float: left;}
.fr {float: right;}

.cvl{display: flex;
    align-content: center; 
    justify-content: center;
    align-items: center;
    text-align: center;}

header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    min-height: 5%;
    color: white;
}
    
.buttom {
    position: fixed;
    top: 90%;
    display: flex;
    width: 100%;
    min-height: 10%;
}

.ico{
    color: white;
    font-size: 250%;
}


.act{
    color: rgba(255, 255, 255, 0.7);
    font-size: 250%;
}

.txta:hover {
    transition:all 0.2s;
    transform: scale(1.2) !important;
}

.txta:not(hover) {
    transition:all 0.2s;
    transform: scale(1) !important;
}

.ico:hover {
    transition:all 0.2s;
    transform: scale(1.5) !important;
}

.ico:not(hover) {
    transition:all 0.2s;
    transform: scale(1) !important;
}

a {
    color:white;
    text-decoration: none;
}

.txtind {
    color: white;
    font-size: 200%;
}

.wipe {
    width: 14%;
    height: 110%;
    border: 2px solid #fff;
    border-radius: 5px;
    overflow: hidden;
}